<!DOCTYPE html public "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title><TMPL_VAR NAME=SN> accounts summary</title>
		<TMPL_IF NAME=STYLE><link href="<TMPL_VAR NAME=STYLE>" rel="stylesheet" type="text/css"/></TMPL_IF>
		<script type="text/javascript" src="boc.pl?serve=timeout" defer="defer"></script>
	</head>
	<body>
		<form action="boc.pl" method="post">
		<div>
			<input type="hidden" name="tmpl" value="accts_disp"/>
			<input type="hidden" name="last_nz" value="<TMPL_VAR NAME=NOZEROS>"/>
			<input type="hidden" name="last_sort" value="<TMPL_VAR NAME=SORT>"/>

			<TMPL_INCLUDE NAME=logout_status.tmpl>
			<div class="nav">
				<p class="nav"><input type="submit" name="to_acct" value="My account"/></p>
				<p class="nav"><input type="submit" name="manage_tgs" value="See all transaction groups"/><br/>
				<p class="nav"><TMPL_IF NAME=TCP><input type="submit" name="to_cp" value="Admin control panel"/></TMPL_IF></p>
			</div>

			<h1>Accounts summary</h1>

			<input type="submit" <TMPL_IF NAME=NOZEROS>name="showzeros" value="Show accounts with zero balance"<TMPL_ELSE>name="nozeros" value="Hide accounts with zero balance"</TMPL_IF>/>

			<TMPL_IF NAME=BROKEN>
			<h2 style="color:red">BROKEN!</h2>
			<TMPL_ELSE>
			<TMPL_IF NAME=UNKNOWN>
			<h2>Unknown Accounts</h2>
			<table class="unknown_accts" border=1 width="90%">
				<tr><th><a href="boc.pl?tmpl=accts_disp&amp;sort=name&amp;last_nz=<TMPL_VAR NAME=NOZEROS>">Name</a></th><th><a href="boc.pl?tmpl=accts_disp&amp;sort=bal&amp;last_nz=<TMPL_VAR NAME=NOZEROS>">Balance</a></th></tr>
				<TMPL_LOOP NAME=UNKNOWN>
				<tr><td class="<TMPL_VAR NAME=A_CL>" style="white-space: nowrap"><a href="boc.pl?tmpl=accts_disp&amp;view=<TMPL_VAR NAME=ACC>"><TMPL_VAR NAME=NAME></a></td><td style="text-align:right"><TMPL_VAR NAME=VAL></td><td style="width:50%" align="right"><div style="width:<TMPL_VAR NAME=L>%; background-color: <TMPL_VAR NAME=C>;height:1em"/></td><td style="width:50%"><div style="width:<TMPL_VAR NAME=R>%; background-color: <TMPL_VAR NAME=C>;height:1em"/></td></tr>
				</TMPL_LOOP>
			</table>
			</TMPL_IF>

			<h2>Personal Accounts</h2>
			<table border=1 width="90%">
				<tr><th><a href="boc.pl?tmpl=accts_disp&amp;sort=name&amp;last_nz=<TMPL_VAR NAME=NOZEROS>">Name</a></th><th><a href="boc.pl?tmpl=accts_disp&amp;sort=bal&amp;last_nz=<TMPL_VAR NAME=NOZEROS>">Balance</a></th></tr>
				<TMPL_LOOP NAME=PPL>
				<tr><td class="<TMPL_VAR NAME=A_CL>" style="white-space: nowrap"><a href="boc.pl?tmpl=accts_disp&amp;view=<TMPL_VAR NAME=ACC>"><TMPL_VAR NAME=NAME></a></td><td style="text-align:right"><TMPL_VAR NAME=VAL></td><td style="width:50%" align="right"><div style="width:<TMPL_VAR NAME=L>%; background-color: <TMPL_VAR NAME=C>;height:1em"/></td><td style="width:50%"><div style="width:<TMPL_VAR NAME=R>%; background-color: <TMPL_VAR NAME=C>;height:1em"/></td></tr>
				</TMPL_LOOP>
			</table>
			<p>Accounts receivable: <TMPL_VAR NAME=SDEBTS></p>
			<p>Accounts payable: <TMPL_VAR NAME=SCREDS></p>

			<h2>Virtual Accounts</h2>
			<table border=1>
				<tr><th><a href="boc.pl?tmpl=accts_disp&amp;sort=name&amp;last_nz=<TMPL_VAR NAME=NOZEROS>">Name</a></th><th><a href="boc.pl?tmpl=accts_disp&amp;sort=bal&amp;last_nz=<TMPL_VAR NAME=NOZEROS>">Balance</a></th></tr>
				<TMPL_LOOP NAME=VACCTS>
				<tr><td class="<TMPL_VAR NAME=A_CL>" style="white-space: nowrap"><a href="boc.pl?tmpl=accts_disp&amp;view=<TMPL_VAR NAME=ACC>"><TMPL_VAR NAME=NAME></a></td><td style="text-align:right"><TMPL_VAR NAME=VAL></td><TMPL_IF 0><td style="width:50%" align="right"><div style="width:<TMPL_VAR NAME=L>%; background-color: <TMPL_VAR NAME=C>;height:1em"/></td><td style="width:50%"><div style="width:<TMPL_VAR NAME=R>%; background-color: <TMPL_VAR NAME=C>;height:1em"/></td></TMPL_IF></tr>
				</TMPL_LOOP>
			</table>
			<TMPL_IF NAME=DEFCUR><p>All accounts denominated in <TMPL_VAR NAME=DEFCUR></p></TMPL_IF>
			</TMPL_IF>
		</div>
		</form>
	</body>
</html>
