<!DOCTYPE html public "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>Simple <TMPL_VAR NAME=SN> transactions</title>
	</head>
	<body>
		<h1>Simple transaction configuration</h1>

		<form action="boc.pl" method="post">
		<div>
			<input type="hidden" name="tmpl" value="edit_simp_trans"/>
			<input type="hidden" name="etoken" value="<TMPL_VAR NAME=ETOKEN>"/>

			<table border=1>
				<th>Transaction description</th><th>Debit account</th>

				<TMPL_LOOP NAME=ROWS><tr>
					<td><input type="text" value="<TMPL_VAR NAME=D>" name="Description_<TMPL_VAR NAME=R>"/></td>
					<td>
						<select name="DebitAcct_<TMPL_VAR NAME=R>">
							<option value="">Select account</option>
							<TMPL_LOOP NAME=ACCTS><option value="<TMPL_VAR NAME=V>" <TMPL_IF NAME=S>selected="selected"</TMPL_IF>><TMPL_VAR NAME=O></option>
							</TMPL_LOOP>
						</select>
					</td>
				</tr>
				</TMPL_LOOP>
			</table>

			<p><input type="submit" name="cancel" value="Cancel"/><input type="submit" name="save" value="Save changes"/></p>
			<TMPL_IF NAME=STATUS><p><b><TMPL_VAR NAME=STATUS></b></p></TMPL_IF>
			<p><input type="submit" name="logout" value="Logout"/></p>
		</div>
		</form>
	</body>
</html>
