<!DOCTYPE html public "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title><TMPL_IF NAME=NAME><TMPL_VAR NAME=SN> transaction group "<TMPL_VAR NAME=NAME>"<TMPL_ELSE>Add <TMPL_VAR NAME=SN> transaction group</TMPL_IF></title>
	</head>
	<body>
		<form action="boc.pl" method="post">
		<div>
			<input type="hidden" name="tmpl" value="edit_tg"/>
			<TMPL_IF NAME=ETOKEN><input type="hidden" name="etoken" value="<TMPL_VAR NAME=ETOKEN>"/></TMPL_IF>
			<TMPL_IF NAME=TG_ID><input type="hidden" name="tg_id" value="<TMPL_VAR NAME=TG_ID>"/></TMPL_IF>
			<TMPL_IF NAME=DONE_TMPL><input type="hidden" name="done_tmpl" value="<TMPL_VAR NAME=DONE_TMPL>"/></TMPL_IF>

			<TMPL_IF NAME=RO><h1><TMPL_VAR NAME=NAME></h1><TMPL_ELSE><h2><label>Transaction group name: <input type="text" value="<TMPL_VAR NAME=NAME>" name="tg_name"/></label></h2></TMPL_IF>

			<TMPL_IF NAME=RO><p>Date: <TMPL_VAR NAME=DATE></p><TMPL_ELSE><p><label>Date: <input type="text" value="<TMPL_VAR NAME=DATE>" name="tg_date"/></label></p></TMPL_IF>

			<p><label>Omit from inclusion?: <input type="checkbox" name="omit" value="" <TMPL_IF NAME=OMIT>checked="checked"</TMPL_IF> <TMPL_IF NAME=RO>disabled="disabled"</TMPL_IF>/></label></p>

			<table border=1>
				<tr><th rowspan=2>Creditor</th><th rowspan=2>Amount</th><TMPL_IF NAME=CURCOL><th rowspan=2>Currency</th></TMPL_IF><th colspan=<TMPL_VAR NAME=NOACCTS>>Debt share</th><th rowspan=2>Transfer Pot</th><th rowspan=2>Description</th></tr>
				<tr><TMPL_LOOP NAME=HEADINGS><th <TMPL_IF NAME=U>bgcolor="red"</TMPL_IF>><TMPL_VAR NAME=H></th></TMPL_LOOP></tr>

				<TMPL_LOOP NAME=ROWS><tr <TMPL_IF NAME=U>bgcolor="red"</TMPL_IF>>
					<td><TMPL_IF NAME=RO><TMPL_LOOP NAME=CREDS><TMPL_IF NAME=S><TMPL_IF NAME=TP><i><TMPL_VAR NAME=O></i><TMPL_ELSE><TMPL_VAR NAME=O></TMPL_IF></TMPL_IF><TMPL_IF 0><TMPL_VAR NAME=V></TMPL_IF></TMPL_LOOP><TMPL_ELSE>
						<select name="Creditor_<TMPL_VAR NAME=R>">
							<TMPL_LOOP NAME=CREDS><option value="<TMPL_VAR NAME=V>" <TMPL_IF NAME=TP>style="font-style: italic"</TMPL_IF> <TMPL_IF NAME=S>selected="selected"</TMPL_IF>><TMPL_VAR NAME=O></option>
							</TMPL_LOOP>
						</select>
					</TMPL_IF></td>
					<td><TMPL_IF NAME=RO><TMPL_VAR NAME=A><TMPL_ELSE><input type="text" value="<TMPL_VAR NAME=A>" name="Amount_<TMPL_VAR NAME=R>"/></TMPL_IF></td>
					<TMPL_IF NAME=CURCOL><td <TMPL_IF NAME=UC>bgcolor="red"</TMPL_IF>><TMPL_IF NAME=RO><TMPL_LOOP NAME=CURS><TMPL_IF NAME=S><TMPL_VAR NAME=C></TMPL_IF></TMPL_LOOP><TMPL_ELSE>
						<select name="Currency_<TMPL_VAR NAME=R>">
							<TMPL_LOOP NAME=CURS><option value="<TMPL_VAR NAME=C>" <TMPL_IF NAME=S>selected="selected"</TMPL_IF>><TMPL_VAR NAME=C></option>
							</TMPL_LOOP>
						</select>
					</TMPL_IF></td></TMPL_IF>
					<!-- FIXME: JS confirm if no line description -->
					<TMPL_LOOP NAME=RC><td <TMPL_IF NAME=U>bgcolor="red"</TMPL_IF>><TMPL_IF NAME=RO><TMPL_VAR NAME=D><TMPL_ELSE><input type="text" value="<TMPL_VAR NAME=D>" name="<TMPL_VAR NAME=N>"/></TMPL_IF></td>
					</TMPL_LOOP>
				</tr>
				</TMPL_LOOP>
			</table>
			<TMPL_IF NAME=DEFCUR><p>All transactions denominated in <TMPL_VAR NAME=DEFCUR></p></TMPL_IF>

			<p><TMPL_IF NAME=RO><input type="submit" name="edit" value="Edit"/><TMPL_ELSE>
			<input type="submit" name="cancel" value="Cancel"/><input type="submit" name="save" value="Save"/></TMPL_IF></p>
			<TMPL_IF NAME=STATUS><p><b><TMPL_VAR NAME=STATUS></b></p></TMPL_IF>
			<TMPL_UNLESS NAME=ETOKEN><p><input type="submit" name="to_cp" value="Return to <TMPL_VAR NAME=SN> start page"/><input type="submit" name="manage_tgs" value="See all transaction groups"/></p></TMPL_UNLESS>
			<p><input type="submit" name="logout" value="Logout"/></p>
		</div>
		</form>
	</body>
</html>
