<!DOCTYPE html>
<html>
	<head>
		<title><TMPL_VAR NAME=SN> <TMPL_VAR NAME=ET>: <TMPL_VAR NAME=NAME></title>
		<TMPL_IF NAME=STYLE><link href="<TMPL_VAR NAME=STYLE>" rel="stylesheet" type="text/css"/></TMPL_IF>
		<script type="text/javascript" src="<TMPL_VAR NAME=JS>" defer="defer"></script>
		<style type="text/css">.broken { background-color: red } .dup { background-color: orange } .unknown { background-color: red }</style>
	</head>
	<body>
		<form action="boc.pl" method="post" onsubmit="if ('save' in this && this.save.clicked) {
				this.save.clicked = false;
				var sub = true;
				var whinged = new Object();
				for (i = 0; sub && i < this.elements.length; i++) {
					var ele = this.elements[i];
					if (ele.name.search(/^(.+)_Custom$/) >= 0 && ele.defaultValue != ele.value)
						if (!confirm('Really set/change custom fee for participant \'' + RegExp.$1 + '\'?'))
							sub = false;
					if ('exceptional' in ele.dataset && !(ele.dataset.exceptional in whinged) && (ele.defaultValue != ele.value || ele.defaultChecked != ele.checked)) {
						if (!confirm('Really set/modify value(s) in \'' + ele.dataset.exceptional + '\' column?'))
							sub = false;
						whinged[ele.dataset.exceptional] = 1;
					}
				}
				return sub;
			} return true">
		<div>
			<input type="hidden" name="tmpl" value="edit_event"/>
			<TMPL_IF NAME=ETOKEN><input type="hidden" name="etoken" value="<TMPL_VAR NAME=ETOKEN>"/></TMPL_IF>
			<input type="hidden" name="m_id" value="<TMPL_VAR NAME=MID>"/>

			<TMPL_INCLUDE NAME=logout_status.tmpl>
			<TMPL_UNLESS NAME=ETOKEN><div class="nav">
				<p class="nav"><input type="submit" name="to_acct" value="My account"/></p>
				<p class="nav"><input type="submit" name="disp_accts" value="Accounts summary"/></p>
				<p class="nav"><input type="submit" name="manage_tgs" value="See all transaction groups"/><br/>
				<input type="submit" name="manage_events" value="See all events"/></p>
				<p class="nav"><TMPL_IF NAME=TCP><input type="submit" name="to_cp" value="Admin control panel"/></TMPL_IF></p>
			</div></TMPL_UNLESS>

			<h1><TMPL_VAR NAME=ET>: <TMPL_VAR NAME=NAME></h1>

			<h2><TMPL_VAR NAME=DATE> for <TMPL_VAR NAME=DUR> days</h2>

			<p><TMPL_IF NAME=EDITHDRS><TMPL_IF NAME=RO><input type="submit" name="edit_hdrs" value="Edit basic event details"/></TMPL_IF></TMPL_IF></p>

			<TMPL_IF NAME=CURS><p>All monetary values in <span class="<TMPL_VAR NAME=CUR_CL>"><TMPL_IF NAME=RO><TMPL_LOOP NAME=CURS><TMPL_IF NAME=S><TMPL_VAR NAME=D> (<TMPL_VAR NAME=C>)</TMPL_IF><TMPL_IF 0><TMPL_VAR NAME=D></TMPL_IF></TMPL_LOOP><TMPL_ELSE><select name="Currency">
				<TMPL_LOOP NAME=CURS><option value="<TMPL_VAR NAME=C>" <TMPL_IF NAME=S>selected="selected"</TMPL_IF>><TMPL_VAR NAME=D> (<TMPL_VAR NAME=C>)</option>
				</TMPL_LOOP>
			</select></TMPL_IF></span></p></TMPL_IF>
			<table border=1 class="widetable">
				<tr><th rowspan=2>Name</th><th colspan=<TMPL_VAR NAME=NFEES>>Charges/Credits</th><TMPL_IF NAME=NEXPS><th colspan=<TMPL_VAR NAME=NEXPS>>Expenses</th></TMPL_IF><TMPL_IF NAME=NUNKS><th colspan=<TMPL_VAR NAME=NUNKS> class="unknown">Unknowns</th></TMPL_IF><TMPL_IF NAME=NSPLITS><th colspan=<TMPL_VAR NAME=NSPLITS>>Splits <i>(only for swaps between people)</i></th></TMPL_IF><th rowspan=2>Notes (explain unusual values, payment status, etc.)</th></tr>
				<tr><TMPL_LOOP NAME=FEESH><th title="<TMPL_VAR NAME=CDESC>"><TMPL_IF NAME=RO><a href="boc.pl?tmpl=accts_disp&amp;view=<TMPL_VAR NAME=LINKA>"><TMPL_VAR NAME=FEE></a><TMPL_ELSE><TMPL_VAR NAME=FEE></TMPL_IF></th></TMPL_LOOP><TMPL_LOOP NAME=EXPSH><th><TMPL_IF NAME=RO><a href="boc.pl?tmpl=accts_disp&amp;view=<TMPL_VAR NAME=LINKA>"><TMPL_VAR NAME=EXP></a><TMPL_ELSE><TMPL_VAR NAME=EXP></TMPL_IF></th></TMPL_LOOP><TMPL_LOOP NAME=UNKSH><th class="unknown"><TMPL_VAR NAME=UNK></th></TMPL_LOOP><TMPL_LOOP NAME=SPLITSH><th>Expenses (<TMPL_VAR NAME=SPLIT>)</th><th>Debt shares (<TMPL_VAR NAME=SPLIT>)</th></TMPL_LOOP></tr>
				<TMPL_LOOP NAME=PPL><tr class="<TMPL_VAR NAME=PER_CL>">
					<td style="white-space:nowrap"><TMPL_IF NAME=RO><a href="boc.pl?tmpl=accts_disp&amp;view=<TMPL_VAR NAME=A>"><TMPL_VAR NAME=NAME></a><TMPL_ELSE><TMPL_VAR NAME=NAME></TMPL_IF></td>
					<TMPL_LOOP NAME=FEES>
					<td align="center" class="<TMPL_VAR NAME=D_CL>"><TMPL_IF NAME=BOOL><TMPL_IF NAME=RO><TMPL_IF NAME=V>X</TMPL_IF><TMPL_ELSE><input type="checkbox" name="<TMPL_VAR NAME=A>_<TMPL_VAR NAME=F>" value="1" <TMPL_IF NAME=V>checked="checked"</TMPL_IF> <TMPL_IF NAME=EXCPT>data-exceptional="<TMPL_VAR NAME=F>"</TMPL_IF>/></TMPL_IF><TMPL_ELSE><TMPL_IF NAME=RO><TMPL_VAR NAME=V><TMPL_ELSE><input type="text" value="<TMPL_VAR NAME=V>" name="<TMPL_VAR NAME=A>_<TMPL_VAR NAME=F>" size=5 onclick="this.select()" <TMPL_IF NAME=EXCPT>data-exceptional="<TMPL_VAR NAME=F>"</TMPL_IF>/></TMPL_IF></TMPL_IF></td></TMPL_LOOP>
					<TMPL_LOOP NAME=SPLITS>
					<td align="center" class="<TMPL_VAR NAME=ED_CL>"><TMPL_IF NAME=RO><TMPL_VAR NAME=EV><TMPL_ELSE><input type="text" value="<TMPL_VAR NAME=EV>" name="<TMPL_VAR NAME=A>_Split<TMPL_VAR NAME=F>E" size=5 onclick="this.select()"/></TMPL_IF></td><td align="center" class="<TMPL_VAR NAME=SD_CL>"><TMPL_IF NAME=RO><TMPL_VAR NAME=SV><TMPL_ELSE><input type="text" value="<TMPL_VAR NAME=SV>" name="<TMPL_VAR NAME=A>_Split<TMPL_VAR NAME=F>S" size=5 onclick="this.select()"/></TMPL_IF></td></TMPL_LOOP>
					<td><TMPL_IF NAME=RO><TMPL_VAR NAME=NOTEV><TMPL_ELSE><input type="text" value="<TMPL_VAR NAME=NOTEV>" name="<TMPL_VAR NAME=A>_Notes" size=60/></TMPL_IF></td>
				</tr>
				</TMPL_LOOP>
			</table>

			<TMPL_IF NAME=NSPLITS>
			<h3>Split descriptions</h3>
			<TMPL_LOOP NAME=SPLITDS><p class="<TMPL_VAR NAME=DD_CL>"><label>Split <TMPL_VAR NAME=SPLIT><TMPL_IF NAME=RO>: <TMPL_VAR NAME=SPLITD><TMPL_ELSE> description: <input type="text" value="<TMPL_VAR NAME=SPLITD>" name="Split<TMPL_VAR NAME=SPLIT>D" size=50/></TMPL_IF></label></p>
			</TMPL_LOOP>
			</TMPL_IF>

			<TMPL_UNLESS NAME=RO><TMPL_IF NAME=NUNKS><p><strong style="color:red">Contents of unknown columns will be lost on saving!</strong></p></TMPL_IF></TMPL_UNLESS>

			<p><TMPL_IF NAME=EDITOK><TMPL_IF NAME=RO><input type="submit" name="edit_ppl" value="Add/Edit participants"/><TMPL_IF NAME=PPL><input type="submit" name="edit" value="Edit values"/></TMPL_IF><TMPL_ELSE>
			<input type="submit" name="cancel" value="Cancel"/><input type="submit" name="save" value="Save" onclick="this.clicked = true"/></TMPL_IF></TMPL_IF></p>

			<TMPL_IF NAME=VALID><TMPL_IF NAME=RO><p><a href="boc.pl?tmpl=manage_tgs&amp;view=E<TMPL_VAR NAME=MID>">View resulting transaction group</a></p></TMPL_IF></TMPL_IF>
		</div>
		</form>
	</body>
</html>
