<!DOCTYPE html public "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title><TMPL_VAR NAME=SN> currencies</title>
		<TMPL_IF NAME=STYLE><link href="<TMPL_VAR NAME=STYLE>" rel="stylesheet" type="text/css"/></TMPL_IF>
		 <style type="text/css">td { text-align: center }</style>
	</head>
	<body>
		<h1>Currency configuration</h1>

		<h3>Beware: changing a code defining an existing unit will re-code that unit, not create a new one.</h3>

		<form action="boc.pl" method="post" onsubmit="if (this.rates.clicked) {
				this.rates.clicked = false;
				var sub = true;
				for (i = 0; i < this.elements.length; i++)
					if (this.elements[i].name.search(/^Code_(\D+)/) >= 0 && RegExp.$1 != this.elements[i].value) {
						if (!this.elements[i].value.length) {
				       			if (!this['Description_' + RegExp.$1].value.length && !confirm('Really delete unit ' + RegExp.$1 + '?'))
								sub = false;
						} else
							if (!confirm('Really rename unit ' + RegExp.$1 + ' to ' + this.elements[i].value + '?'))
								sub = false;
					}
				return sub;
			} return true">
		<div>
			<input type="hidden" name="tmpl" value="edit_units"/>
			<input type="hidden" name="etoken" value="<TMPL_VAR NAME=ETOKEN>"/>
			
			<table border=1>
				<tr><th>Currency description</th><th>Short code</th><th>Commodity</th><th>Anchor currency</th><th>Presentation default</th></tr>

				<TMPL_LOOP NAME=ROWS><tr>
					<td style="text-align:left"><input type="text" value="<TMPL_VAR NAME=D>" name="Description_<TMPL_VAR NAME=R>"/></td>
					<td><input type="text" value="<TMPL_VAR NAME=C>" name="Code_<TMPL_VAR NAME=R>" style="width:6ex"/></td>
					<td><input type="checkbox" value="" name="Commodity_<TMPL_VAR NAME=R>" <TMPL_IF NAME=A>checked="checked"</TMPL_IF>/></td>
					<td><input type="radio" value="<TMPL_VAR NAME=R>" name="Anchor" <TMPL_IF NAME=B>checked="checked"</TMPL_IF>/></td>
					<td><input type="radio" value="<TMPL_VAR NAME=R>" name="Default" <TMPL_IF NAME=P>checked="checked"</TMPL_IF>/></td>
				</tr>
				</TMPL_LOOP>
			</table>

			<p><input type="submit" name="cancel" value="Cancel"/><input type="submit" name="rates" value="Proceed to set exchange rates" onclick="this.clicked = true"/></p>
			<TMPL_IF NAME=STATUS><p><b><TMPL_VAR NAME=STATUS></b></p></TMPL_IF>
			<p><input type="submit" name="logout" value="Logout"/></p>
		</div>
		</form>
	</body>
</html>
