<!DOCTYPE html public "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title><TMPL_VAR NAME=SN> fee template</title>
		<TMPL_IF NAME=STYLE><link href="<TMPL_VAR NAME=STYLE>" rel="stylesheet" type="text/css"/></TMPL_IF>
		<script type="text/javascript" src="boc.pl?serve=timeout" defer="defer"></script>
		<style type="text/css">.broken { background-color: red }</style>
	</head>
	<body>
		<h1>Fee template configuration</h1>

		<form action="boc.pl" method="post" onsubmit="if (this.save.clicked) {
				this.save.clicked = false;
				if ('ft_id' in this && this.ft_id.value != this.name.value)
					return confirm('Really rename fee template?');
			} return true">
		<div>
			<input type="hidden" name="tmpl" value="edit_fee_tmpl"/>
			<TMPL_IF NAME=ETOKEN><input type="hidden" name="etoken" value="<TMPL_VAR NAME=ETOKEN>"/></TMPL_IF>
			<TMPL_IF NAME=NAME><input type="hidden" name="ft_id" value="<TMPL_VAR NAME=NAME>"/></TMPL_IF>

			<TMPL_IF NAME=RO><h1><TMPL_VAR NAME=NAME></h1><TMPL_ELSE><h2><label>Template name: <input type="text" value="<TMPL_VAR NAME=NAME>" name="name"/></label></h2></TMPL_IF>

			<TMPL_IF NAME=CURS><p><b>Note: only one currency unit can be employed</b></p></TMPL_IF>

			<table border=1>
				<tr><th rowspan=2 class="<TMPL_VAR NAME=FH_CL>">Fee</th><TMPL_IF NAME=NATTRS><th rowspan=2 class="<TMPL_VAR NAME=AH_CL>">Condition</th><th colspan=<TMPL_VAR NAME=NATTRS> class="<TMPL_VAR NAME=AH_CL>">Attributes</th></tr>
				<tr><TMPL_LOOP NAME=ATTRS><th class="<TMPL_VAR NAME=A_CL>"><TMPL_VAR NAME=A><TMPL_IF NAME=I> (implies <TMPL_VAR NAME=I>)</TMPL_IF></th></TMPL_LOOP><TMPL_ELSE></tr><tr></TMPL_IF></tr>

				<TMPL_LOOP NAME=FEES>
				<tr><td rowspan=3 class="<TMPL_VAR NAME=F_CL> <TMPL_VAR NAME=C_CL>"><TMPL_IF NAME=RO><TMPL_VAR NAME=F><TMPL_ELSE><input type="text" value="<TMPL_VAR NAME=F>" name="Fee_<TMPL_VAR NAME=N>" size=5 onclick="this.select()"/></TMPL_IF><TMPL_IF NAME=CUROPTS> <TMPL_IF NAME=RO><TMPL_LOOP NAME=CURS><TMPL_IF NAME=S><TMPL_VAR NAME=C></TMPL_IF></TMPL_LOOP><TMPL_ELSE>
						<select name="Unit_<TMPL_VAR NAME=N>">
							<TMPL_LOOP NAME=CURS><option value="<TMPL_VAR NAME=C>" <TMPL_IF NAME=S>selected="selected"</TMPL_IF>><TMPL_VAR NAME=C></option>
							</TMPL_LOOP>
						</select></TMPL_IF></TMPL_IF></td>
					<TMPL_IF NAME=NATTRS><td>If</td><TMPL_LOOP NAME=FATTRS><td align="center" class="<TMPL_VAR NAME=A_CL>"><TMPL_IF NAME=RO><TMPL_IF NAME=I>X</TMPL_IF><TMPL_ELSE><input type="radio" name="<TMPL_VAR NAME=A>_<TMPL_VAR NAME=N>" value="if" <TMPL_IF NAME=I>checked="checked"</TMPL_IF>/></TMPL_IF></td><TMPL_IF 0><TMPL_VAR NAME=U><TMPL_VAR NAME=D></TMPL_IF></TMPL_LOOP></tr>
				<tr><td>Unless</td><TMPL_LOOP NAME=FATTRS><td align="center" class="<TMPL_VAR NAME=A_CL>"><TMPL_IF NAME=RO><TMPL_IF NAME=U>X</TMPL_IF><TMPL_ELSE><input type="radio" name="<TMPL_VAR NAME=A>_<TMPL_VAR NAME=N>" value="unless" <TMPL_IF NAME=U>checked="checked"</TMPL_IF>/></TMPL_IF></td><TMPL_IF 0><TMPL_VAR NAME=I><TMPL_VAR NAME=D></TMPL_IF></TMPL_LOOP></tr>
				<tr><td>Don&apos;t care</td><TMPL_LOOP NAME=FATTRS><td align="center" class="<TMPL_VAR NAME=A_CL>"><TMPL_IF NAME=RO><TMPL_IF NAME=D>X</TMPL_IF><TMPL_ELSE><input type="radio" name="<TMPL_VAR NAME=A>_<TMPL_VAR NAME=N>" value="dc" <TMPL_IF NAME=D>checked="checked"</TMPL_IF>/></TMPL_IF></td><TMPL_IF 0><TMPL_VAR NAME=I><TMPL_VAR NAME=U></TMPL_IF></TMPL_LOOP><TMPL_ELSE></tr><tr></tr><tr></TMPL_IF></tr>
				</TMPL_LOOP>
			</table>
			<p>Attributes combine with a logical `AND&apos; sense</p>
			<TMPL_IF NAME=DEFCUR><p>All transactions denominated in <TMPL_VAR NAME=DEFCUR></p></TMPL_IF>

			<p><TMPL_IF NAME=RO><input type="submit" name="edit" value="Edit"/><TMPL_ELSE>
			   <input type="submit" name="cancel" value="Cancel"/><input type="submit" name="save" value="Save" onclick="this.clicked = true"/></TMPL_IF></p>
			<TMPL_IF NAME=STATUS><p><b><TMPL_VAR NAME=STATUS></b></p></TMPL_IF>
			<TMPL_UNLESS NAME=ETOKEN><p><input type="submit" name="to_cp" value="Return to control panel"/><input type="submit" name="manage_fee_tmpls" value="See all fee templates"/></p></TMPL_UNLESS>
			<p><input type="submit" name="logout" value="Logout"/></p>
		</div>
		</form>
	</body>
</html>
