<!DOCTYPE html public "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>Edit <TMPL_VAR NAME=SN> user account</title>
	</head>
	<body>
		<h1>Edit user account "<TMPL_VAR NAME=ACC>"</h1>

		<form action="boc.pl" method="post">
			<input type="hidden" name="tmpl" value="edit_acc"/>

			<!-- JS "do you mean to rename?" -->
			<p><label>Account (short) name: <input type="text" name="account" value="<TMPL_VAR NAME=ACC>"/></label></p>
			<p><label>Full name: <input type="text" name="fullname" value="<TMPL_VAR NAME=NAME>"/></label></p>
			<p><label>e-mail: <input type="text" name="email" value="<TMPL_VAR NAME=EMAIL>"/></label></p>
			<!-- FIXME: college drop-down -->
			<!--	<p><label>Real-world address: <textarea name="address" cols=40 rows=5></textarea></label></p>	-->

			<p><input type="submit" name="cancel" value="Cancel"/>
			<input type="submit" name="save" value="Save changes"/></p>
			<TMPL_VAR NAME=STATUS>
			<p><input type="submit" name="logout" value="Logout"/></p>
		</form>
	</body>
</html>
