<!DOCTYPE html public "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title><TMPL_VAR NAME=SN> meet: <TMPL_VAR NAME=NAME></title>
	</head>
	<body>
		<h1>Meet: <TMPL_VAR NAME=NAME></h1>

		<h2><TMPL_VAR NAME=DATE> for <TMPL_VAR NAME=DUR> days</h2>

		<form action="boc.pl" method="post">
		<div>
			<input type="hidden" name="tmpl" value="edit_meet"/>
			<TMPL_IF NAME=ETOKEN><input type="hidden" name="etoken" value="<TMPL_VAR NAME=ETOKEN>"/></TMPL_IF>
			<input type="hidden" name="m_id" value="<TMPL_VAR NAME=MID>"/>

			<TMPL_IF NAME=PPL><p><TMPL_IF NAME=RO><input type="submit" name="edit" value="Edit"/><TMPL_ELSE>
			<input type="submit" name="cancel" value="Cancel"/><input type="submit" name="save" value="Save"/></TMPL_IF></p></TMPL_IF>
			<TMPL_IF NAME=STATUS><p><b><TMPL_VAR NAME=STATUS></b></p></TMPL_IF>
			<TMPL_UNLESS NAME=ETOKEN><p><input type="submit" name="to_cp" value="Return to control panel"/><input type="submit" name="manage_meets" value="See all meets"/></p></TMPL_UNLESS>
			<p><input type="submit" name="logout" value="Logout"/></p>
		</div>
		</form>
	</body>
</html>
