<!DOCTYPE html public "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title><TMPL_VAR NAME=LN> login</title>
	</head>
	<body>
		<h1><TMPL_VAR NAME=LN></h1>

		<form action="boc.pl" method="post">
		<div>
			<input type="hidden" name="tmpl" value="login"/>
			<p><label>User name: <input type="text" name="user"/></label></p>
			<p><label>Password: <input type="password" name="pass"/></label></p>
			<p><input type="submit" value="Ok"/></p>
			<TMPL_IF NAME=STATUS><p><b><TMPL_VAR NAME=STATUS></b></p></TMPL_IF>
		</div>
		</form>
	</body>
</html>
