<!DOCTYPE html public "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title><TMPL_VAR NAME=LN> login</title>
		<TMPL_IF NAME=STYLE><link href="<TMPL_VAR NAME=STYLE>" rel="stylesheet" type="text/css"/></TMPL_IF>
		<style type="text/css">span { padding: 5px; display: inline-block }</style>
	</head>
	<body>
		<h1><TMPL_VAR NAME=SN></h1>

		<p>The following users are known to this system:</p>
		<p><TMPL_LOOP NAME=PPL><span><TMPL_VAR NAME=USER></span> </TMPL_LOOP></p>

		<form action="boc.pl" method="post">
		<div>
			<input type="hidden" name="tmpl" value="login_nopw"/>
			<p><label>User name: <input type="text" name="user"/></label></p>
			<p><input type="submit" value="Ok"/></p>
			<TMPL_IF NAME=STATUS><p><b><TMPL_VAR NAME=STATUS></b></p></TMPL_IF>
		</div>
		</form>
	</body>
</html>
