<!DOCTYPE html public "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title><TMPL_VAR NAME=SN> <TMPL_IF NAME=USER_ACCT>user<TMPL_ELSE>virtual</TMPL_IF> accounts</title>
	</head>
	<body>
		<h1><TMPL_IF NAME=USER_ACCT>User<TMPL_ELSE>Virtual</TMPL_IF> accounts</h1>

		<form action="boc.pl" method="post">
		<div>
			<input type="hidden" name="tmpl" value="view_<TMPL_IF NAME=USER_ACCT>ppl<TMPL_ELSE>vaccts</TMPL_IF>"/>

			<table border=1>
				<TMPL_IF NAME=USER_ACCT>
				<tr><th>User name</th><th>Real name</th><th>email</th><TMPL_LOOP NAME=ATTRSH><th><TMPL_VAR NAME=A></th></TMPL_LOOP></tr>
				<TMPL_LOOP NAME=ACCTS>
				<tr><td><TMPL_VAR NAME=ACCT></td><td><TMPL_VAR NAME=NAME></td><td><TMPL_VAR NAME=EMAIL></td><TMPL_LOOP NAME=ATTRS><td align="center"><TMPL_IF NAME=C>X</TMPL_IF></td></TMPL_LOOP><td><input type="submit" name="edit_<TMPL_VAR NAME=ACCT>" value="Edit"/></td><td><input type="submit" name="del_<TMPL_VAR NAME=ACCT>" value="Delete" onclick="return confirm('Really delete account?')"/></td></tr>
				</TMPL_LOOP>
				<TMPL_ELSE>
				<tr><th>Short name</th><th>Long name</th><th>Is negated?</th></tr>
				<TMPL_LOOP NAME=ACCTS>
				<tr><td><TMPL_VAR NAME=ACCT></td><td><TMPL_VAR NAME=NAME></td><td align="center"><TMPL_IF NAME=IS_NEGATED>X</TMPL_IF></td><td><input type="submit" name="edit_<TMPL_VAR NAME=ACCT>" value="Edit"/></td><td><input type="submit" name="del_<TMPL_VAR NAME=ACCT>" value="Delete" onclick="return confirm('Really delete account?')"/></td></tr>
				</TMPL_LOOP>
				</TMPL_IF>
			</table>
			<p><input type="submit" name="add" value="Add account"/></p>
			<TMPL_IF NAME=STATUS><p><b><TMPL_VAR NAME=STATUS></b></p></TMPL_IF>
			<p><input type="submit" name="to_cp" value="Return to control panel"/></p>
			<p><input type="submit" name="logout" value="Logout"/></p>
		</div>
		</form>
	</body>
</html>
