<!DOCTYPE html public "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title><TMPL_VAR NAME=SN> treasurer control panel</title>
	</head>
	<body>
		<form action="boc.pl" method="post">
			<input type="hidden" name="tmpl" value="tcp"/>

			<p><input type="submit" name="view_ppl" value="Manage people"/></p>
			<p><input type="submit" name="view_accts" value="Manage virtual accounts"/></p>
			<p><input type="submit" name="edit_simp_trans" value="Edit simple transaction types"/></p>
			<p><input type="submit" name="edit_inst_cfg" value="Edit installation configuration"/></p>
			<TMPL_IF NAME=STATUS><p><b><TMPL_VAR NAME=STATUS></b></p></TMPL_IF>
			<p><input type="submit" name="logout" value="Logout"/></p>
		</form>
	</body>
</html>
