<!DOCTYPE html public "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title><TMPL_IF NAME=ACCT><TMPL_VAR NAME=ACCT>'s </TMPL_IF><TMPL_VAR NAME=LN> account summary</title>
		<TMPL_IF NAME=STYLE><link href="<TMPL_VAR NAME=STYLE>" rel="stylesheet" type="text/css"/></TMPL_IF>
		<script type="text/javascript" src="<TMPL_VAR NAME=JS>" defer="defer"></script>
		<style type="text/css">tr.omitted { background-color: grey } td.broken { background-color: red } td.indet { background-color: yellow }</style>
	</head>
	<body>
		<form action="boc.pl" method="post">
		<div>
			<input type="hidden" name="tmpl" value="ucp"/>
			<input type="hidden" name="acct" value="<TMPL_VAR NAME=ACCTSN>"/>

			<TMPL_INCLUDE NAME=logout_status.tmpl>
			<div class="nav">
				<TMPL_IF NAME=ACCT>
					<p class="nav"><input type="submit" name="to_acct" value="My account"/></p>
				</TMPL_IF>
				<p class="nav"><input type="submit" name="disp_accts" value="Accounts summary"/></p>
				<p class="nav"><input type="submit" name="manage_tgs" value="See all transaction groups"/><br/>
				<TMPL_IF NAME=EVENTS><input type="submit" name="manage_events" value="See all events"/></TMPL_IF></p>
				<p class="nav"><TMPL_IF NAME=TCP><input type="submit" name="to_cp" value="Admin control panel"/></TMPL_IF></p>
			</div>

			<div style="margin:1em 0"><TMPL_IF NAME=ADDTG><TMPL_IF NAME=SIMPTRANS><input type="submit" name="add_vacct_swap" value="Add simple communal expense"/>
				<input type="submit" name="add_vacct_split" value="Add multi-creditor/category communal expense"/></TMPL_IF><br>
				<input type="submit" name="add_swap" value="Add person-to-person swap"/>
				<input type="submit" name="add_split" value="Add a set of expenses split across a number of people"/>
				<TMPL_IF NAME=BANK><br><input type="submit" name="add_bank_split" value="Add credit/debit to real-world account"/></TMPL_IF></TMPL_IF></div>

			<TMPL_IF NAME=MYEVENTS><h1><TMPL_UNLESS NAME=ACCT>My<TMPL_ELSE><TMPL_VAR NAME=ACCT>&apos;s</TMPL_UNLESS> events</h1>
			<TMPL_LOOP NAME=MYEVENTS><p><a href="boc.pl?tmpl=manage_events&amp;view=<TMPL_VAR NAME=MID>"><TMPL_VAR NAME=NAME> (<TMPL_VAR NAME=DATE>) &mdash; <i><TMPL_UNLESS NAME=LOCKED>un</TMPL_UNLESS>locked</i></a></p>
			</TMPL_LOOP></TMPL_IF>

			<h1>Account summary<TMPL_IF NAME=ACCT>: <TMPL_VAR NAME=ACCT></TMPL_IF></h1>

			<p class="acctbal">Balance: <TMPL_VAR NAME=BAL> <span title="<TMPL_VAR NAME=DEFCURDESC>"><TMPL_VAR NAME=DEFCUR></span></p>

			<h2><TMPL_UNLESS NAME=ACCT>My<TMPL_ELSE><TMPL_VAR NAME=ACCT>&apos;s</TMPL_UNLESS> credits</h2>
			<table border=1>
				<tr><th>Description</th><th style="min-width:15%">Date</th><th style="min-width:15%">Value<TMPL_IF NAME=DEFCUR> (<span title="<TMPL_VAR NAME=DEFCURDESC>"><TMPL_VAR NAME=DEFCUR></span>)</TMPL_IF></th></tr>
				<TMPL_LOOP NAME=CREDITS>
				<tr class="<TMPL_VAR NAME=TG_CL>"><td><a href="boc.pl?tmpl=manage_<TMPL_IF NAME=EVENT>events<TMPL_ELSE>tgs</TMPL_IF>&amp;view=<TMPL_VAR NAME=ACC>"><TMPL_VAR NAME=NAME></a> <TMPL_IF NAME=TO><TMPL_IF NAME=BIDI>&harr;<TMPL_ELSE>&larr;</TMPL_IF> <TMPL_LOOP NAME=TO><TMPL_VAR NAME=SEP><a href="boc.pl?tmpl=accts_disp&view=<TMPL_VAR NAME=A>"><TMPL_VAR NAME=N></a></TMPL_LOOP><TMPL_IF NAME=TO_EXTRA><span title="<TMPL_VAR NAME=TO_EXTRA>"> and others <u>(hover for list)</u></span></TMPL_IF></TMPL_IF><TMPL_IF NAME=FROM> (&rarr; <TMPL_LOOP NAME=FROM><TMPL_VAR NAME=SEP><a href="boc.pl?tmpl=accts_disp&view=<TMPL_VAR NAME=A>"><TMPL_VAR NAME=N></a></TMPL_LOOP><TMPL_IF NAME=FROM_EXTRA><span title="<TMPL_VAR NAME=FROM_EXTRA>"> and others <u>(hover for list)</u></span></TMPL_IF>)</TMPL_IF></td><td style="text-align:center"><TMPL_VAR NAME=DATE></td><td style="text-align:right" class="<TMPL_VAR NAME=SUMMARY_CL>"><TMPL_VAR NAME=SUMMARY></td></tr>
				</TMPL_LOOP>
				<tr><td colspan=2>Total credits</td><td style="text-align:right"><TMPL_VAR NAME=CRED_TOT></td></tr>
			</table>
			<h2><TMPL_UNLESS NAME=ACCT>My<TMPL_ELSE><TMPL_VAR NAME=ACCT>&apos;s</TMPL_UNLESS> debits</h2>
			<table border=1>
				<tr><th>Description</th><th style="min-width:15%">Date</th><th style="min-width:15%">Value<TMPL_IF NAME=DEFCUR> (<span title="<TMPL_VAR NAME=DEFCURDESC>"><TMPL_VAR NAME=DEFCUR></span>)</TMPL_IF></th></tr>
				<TMPL_LOOP NAME=DEBITS>
				<tr class="<TMPL_VAR NAME=TG_CL>"><td><a href="boc.pl?tmpl=manage_<TMPL_IF NAME=EVENT>events<TMPL_ELSE>tgs</TMPL_IF>&amp;view=<TMPL_VAR NAME=ACC>"><TMPL_VAR NAME=NAME></a> <TMPL_IF NAME=BIDI>&harr;<TMPL_ELSE>&rarr;</TMPL_IF> <TMPL_LOOP NAME=TO><TMPL_VAR NAME=SEP><a href="boc.pl?tmpl=accts_disp&view=<TMPL_VAR NAME=A>"><TMPL_VAR NAME=N></a></TMPL_LOOP><TMPL_IF NAME=TO_EXTRA><span title="<TMPL_VAR NAME=TO_EXTRA>"> and others <u>(hover for list)</u></span></TMPL_IF><TMPL_IF NAME=FROM> (&larr; <TMPL_LOOP NAME=FROM><TMPL_VAR NAME=SEP><a href="boc.pl?tmpl=accts_disp&view=<TMPL_VAR NAME=A>"><TMPL_VAR NAME=N></a></TMPL_LOOP><TMPL_IF NAME=FROM_EXTRA><span title="<TMPL_VAR NAME=FROM_EXTRA>"> and others <u>(hover for list)</u></span></TMPL_IF>)</TMPL_IF></td><td style="text-align:center"><TMPL_VAR NAME=DATE></td><td style="text-align:right" class="<TMPL_VAR NAME=SUMMARY_CL>"><TMPL_VAR NAME=SUMMARY></td></tr>
				</TMPL_LOOP>
				<tr><td colspan=2>Total debits</td><td style="text-align:right"><TMPL_VAR NAME=DEB_TOT></td></tr>
			</table>
		</div>
		</form>
	</body>
</html>
