<!DOCTYPE html public "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title><TMPL_VAR NAME=LN> landing</title>
		<TMPL_IF NAME=STYLE><link href="<TMPL_VAR NAME=STYLE>" rel="stylesheet" type="text/css"/></TMPL_IF>
		<style type="text/css">tr.omitted { background-color: grey } td.broken { background-color: red }</style>
	</head>
	<body>
		<form action="boc.pl" method="post">
		<div>
			<TMPL_UNLESS NAME=ACCT>
			<input type="hidden" name="tmpl" value="ucp"/>

			<div style="margin:1em 0"><input type="submit" name="add_vacct_expense" value="Add communal expense"/>
			   <input type="submit" name="add_swap" value="Add person-to-person swap"/>
			   <input type="submit" name="add_split" value="Add a set of expenses split across a number of people"/>
			   <div style="float:right">Logged in as <TMPL_VAR NAME=LOGIN> <input type="submit" name="logout" value="Logout"/></div></div>
			<TMPL_IF NAME=STATUS><p><b><TMPL_VAR NAME=STATUS></b></p></TMPL_IF>
			<hr />
			<p><input type="submit" name="disp_accts" value="Accounts summary"/></p>
			<TMPL_ELSE>
			<input type="hidden" name="tmpl" value="view_acct"/>
			</TMPL_UNLESS>

			<h2><TMPL_UNLESS NAME=ACCT>My<TMPL_ELSE><TMPL_VAR NAME=ACCT>&apos;s</TMPL_UNLESS> credits</h2>
			<table border=1>
				<tr><th>Name</th><th>Date</th><th>Value<TMPL_IF NAME=DEFCUR> (<TMPL_VAR NAME=DEFCUR>)</TMPL_IF></th></tr>
				<TMPL_LOOP NAME=CREDITS>
				<tr class="<TMPL_VAR NAME=TG_CL>"><td><a href="boc.pl?tmpl=manage_tgs&amp;view=<TMPL_VAR NAME=ACC>"><TMPL_VAR NAME=NAME></a></td><td><TMPL_VAR NAME=DATE></td><td class="<TMPL_VAR NAME=SUMMARY_CL>"><TMPL_VAR NAME=SUMMARY></td></tr>
				</TMPL_LOOP>
			</table>
			<h2><TMPL_UNLESS NAME=ACCT>My<TMPL_ELSE><TMPL_VAR NAME=ACCT>&apos;s</TMPL_UNLESS> debits</h2>
			<table border=1>
				<tr><th>Name</th><th>Date</th><th>Value<TMPL_IF NAME=DEFCUR> (<TMPL_VAR NAME=DEFCUR>)</TMPL_IF></th></tr>
				<TMPL_LOOP NAME=DEBITS>
				<tr class="<TMPL_VAR NAME=TG_CL>"><td><a href="boc.pl?tmpl=manage_tgs&amp;view=<TMPL_VAR NAME=ACC>"><TMPL_VAR NAME=NAME></a></td><td><TMPL_VAR NAME=DATE></td><td class="<TMPL_VAR NAME=SUMMARY_CL>"><TMPL_VAR NAME=SUMMARY></td></tr>
				</TMPL_LOOP>
			</table>
			<TMPL_UNLESS NAME=ACCT>
			<p><input type="submit" name="manage_tgs" value="See all transaction groups"/></p>
			<TMPL_ELSE>
			<p><input type="submit" name="disp_accts" value="Back to accounts summary"/></p>
			<p><input type="submit" name="to_cp" value="Return to <TMPL_VAR NAME=SN> start page"/><input type="submit" name="manage_tgs" value="See all transaction groups"/></p>
			<p><input type="submit" name="logout" value="Logout"/></p>
			</TMPL_UNLESS>
		</div>
		</form>
	</body>
</html>
