<!DOCTYPE html public "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title><TMPL_VAR NAME=SN> virtual accounts</title>
	</head>
	<body>
		<h1>Virtual accounts</h1>

		<form action="boc.pl" method="post">
			<input type="hidden" name="tmpl" value="view_vaccs"/>

			<table border=1>
				<tr><th>Short name</th><th>Long name</th></tr>
				<TMPL_LOOP NAME=ACCS>
				<!-- FIXME: JS delete confirm! -->
				<tr><td><TMPL_VAR NAME=ACC></td><td><TMPL_VAR NAME=NAME></td><td><input type="submit" name="edit_<TMPL_VAR NAME=ACC>" value="Edit"/></td><td><input type="submit" name="del_<TMPL_VAR NAME=ACC>" value="Delete"/></td></tr>
				</TMPL_LOOP>
			</table>
			<p><input type="submit" name="add_vacc" value="Add virtual account"/></p>
			<TMPL_IF NAME=STATUS><p><b><TMPL_VAR NAME=STATUS></b></p></TMPL_IF>
			<p><input type="submit" name="to_cp" value="Return to control panel"/></p>
			<p><input type="submit" name="logout" value="Logout"/></p>
		</form>
	</body>
</html>
